@import 'tailwindcss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 1.6rem; /* 16px */
  background: var(--color-gray-900);
  color: var(--color-text-default);
}

@theme {
  --color-gray-100: #e6e9f0;
  --color-gray-200: #cdd3e1;
  --color-gray-300: #aab3cc;
  --color-gray-400: #555f7d;
  --color-gray-500: #454f6a;
  --color-gray-600: #363d56;
  --color-gray-700: #272f43;
  --color-gray-800: #181f2e;
  --color-gray-900: #0a0f1a;

  --color-primary-light: #4de7b7;
  --color-primary: #0da170;
  --color-primary-dark: #065f46;

  --color-link: #10b981;
  --color-link-hover: #0b8a60;

  --color-success: #22c55e;
  --color-warning: #eab308;
  --color-error: #991b1b;
  --color-info: #0ea5e9;

  --color-text-over-primary: #0a0f1a;
  --color-text-over-primary-dark: #e6e9f0;
  --color-text-over-primary-light: #0a0f1a;
  --color-text-over-success: #0a0f1a;
  --color-text-over-warning: #0a0f1a;
  --color-text-over-error: #e6e9f0;
  --color-text-over-info: #0a0f1a;

  --color-text-default: #e6e9f0;
  --color-text-muted: #aab3cc;

  --color-disabled: #555f7d;
  --color-text-disabled: #aab3cc;

  --color-toastify-info: var(--color-info);
  --color-toastify-success: var(--color-success);
  --color-toastify-warning: var(--color-warning);
  --color-toastify-error: var(--color-error);
}

[data-theme='light'] {
  --color-gray-100: #0a0f1a;
  --color-gray-200: #181f2e;
  --color-gray-300: #272f43;
  --color-gray-400: #363d56;
  --color-gray-500: #454f6a;
  --color-gray-600: #555f7d;
  --color-gray-700: #aab3cc;
  --color-gray-800: #cdd3e1;
  --color-gray-900: #e6e9f0;

  --color-text-default: #0a0f1a;
  --color-text-muted: #272f43;

  --color-link: #0b8a60;
  --color-link-hover: #065f46;
}
